<div class="addnew">
  <div class="addnew__top">
    <div class="addnew__top-title">
      Add 1DEL item
    </div>
    <div class="addnew__top-close">
      <img src="./img/icons/close.svg" alt="">
    </div>
  </div>
  <div class="divider"></div>
  <label class="addnew__input input">
    <input type="text" placeholder="Enter the task text...">
  </label>
  <div class="addnew__btns">
    <div class="addnew__btns-item btn green">
      Add Task
    </div>
    <div class="addnew__btns-item btn red border">
      <span>
        Cancel
      </span>
    </div>
  </div>
</div>