// -------- imports --------
@import "fonts";
@import "components/_ui.scss";
@import "components/_fonts";
@import "components/_normalize.scss";
@import "components/_mixins.scss";
@import "components/_variables.scss";
@import "components/_variables.scss";
@import "components/_header.scss";
@import "components/_footer.scss";
@import "pages/index/_main.scss";

// fonts --------- &display=swap || &subset=cyrillic-ext
// throught plugin


::selection {}

body {
  overflow: auto; // <--- delete this if not necessary

  // Default font
  font-family: 'Inter';
  background: linear-gradient(139.72deg, #2C3753 0%, #181E2E 100%);
  background-attachment: fixed;

  &.lock {
    overflow: hidden;
  }
}

.container {
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 16px;

  @media (min-width:768px) {
    padding: 0 40px;
    max-width: 1216px;
  }

  @media (min-width:992px) {
    padding: 0 48px;
    max-width: 1216px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}


// ===========
.eq0123-test {
  padding: 50px 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  gap: 30px;
  flex-wrap: wrap;
}

.eq0123-ui-page-list {
  padding: 50px 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  li {
    color: #fff;
    font-size: 32px;

    &:not(:first-child) {
      margin: 30px 0 0;
    }

    a {
      color: inherit;
      transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        opacity: .7;
      }
    }
  }
}